.StoreResult button {
  background-color: #fa923f;
  color: white;
  padding: 15px 32px;
  font-size: 18px;
  outline: 0;
}
.StoreResult button:hover {
  color: #555;
  background-color: #f7db40;
  cursor: pointer;
  border: 0;

  font-weight: bold;
}
.StoreResult ul {
  list-style: none;
  text-align: right;
  margin-right: 50%;
}
.StoreResult li {
  height: 40px;
  line-height: 40px;
}

.StoreResult span {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

.StoreResult li:hover span {
  width: 40px;
  opacity: 1;
}
